---
layout: default2
---


{% include gallery.html %}

{% include popup.html %}

<!-- Header -->
<header id="header">
  <h1><a href="/"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
  <nav>
    <ul>
      <li title="select" class="icon fa-location-arrow">Select</li>
      <li title="footer" class="icon fa-info-circle">About</li>
    </ul>
  </nav>
</header>


<!-- location selection -->
<footer id="select" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>By Location</h2>
        {% assign all_locations = "" | split: "" %}
        {% for image in images %}
        {% assign path_parts = image.path | split: "/" %}
        {% assign location_path = path_parts[3] %}
        {% assign all_locations = all_locations | push: location_path %}
        {% endfor %}
        {% assign all_locations = all_locations | uniq | sort %}

        <!-- Then iterate through these locations -->
        {% for location_path in all_locations %}
        {% assign locationName = location_path | split:"_" | last %}
        <p>
          <!-- For each location, find all years -->
          {% assign location_years = "" | split: "" %}
          {% for image in images %}
          {% if image.path contains location_path %}
          {% assign path_parts = image.path | split: "/" %}
          {% assign year = path_parts[2] %}
          {% assign location_years = location_years | push: year %}
          {% endif %}
          {% endfor %}
          {% assign location_years = location_years | uniq | sort | reverse %}

          {% for year in location_years %}
          <a href="#p-{{ year }}-{{ locationName }}">{% if forloop.first %}{{ locationName }} {% endif %}{{ year }}</a>{% unless forloop.last %} | {% endunless %}
          {% endfor %}
        </p>
        {% endfor %}
      </section>
    </div>
    <div>
      <section>
        <section>
          <h2>By Year</h2>
          {% assign all_years = images | group_by_exp: "image", "image.path | split: '/' | slice: 2, 1 | first" | sort: "name" | reverse %}
          {% for year in all_years %}
          <p><a href="#p-{{ year.name }}">{{ year.name }}</a></p>
          {% endfor %}
        </section>
      </section>
    </div>
  </div>
</footer>

<!-- Footer -->
<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{{ site.footer.name }}</h2>
        <p>{{ site.footer.bio1 }}</p>
        <p>{{ site.footer.bio2 }}</p>
      </section>
      {% if site.sponsor %}
      <section>
        <h2>Sponsor</h2>
        <div class="presentify">
          <div class="presentify-logo">
            <a href="https://presentify.compzets.com">
              <img src="https://camo.githubusercontent.com/7238b763f1ed0a7413105d5eb44368c1fc2b339e373c8927e3f02391667d55f2/68747470733a2f2f70726573656e746966792e636f6d707a6574732e636f6d2f6173736574732f696d672f70726573656e746966792f6170702d69636f6e2d3531322e706e67"
                   alt="presentify-logo" />
            </a>
          </div>
          <div class="presentify-text">
            Turn your screen into a canvas when on video calls and articulate your thoughts better than
            ever with the <a href="https://presentify.compzets.com">Presentify</a> app.
          </div>
        </div>
      </section>
      {% endif %}
      <section>
        <h2>Follow me on ...</h2>
        <ul class="icons">
          {% if site.social_urls.facebook %}
          <li>
            <a href="{{ site.social_urls.facebook }}" class="icon fa fa-facebook">
              <span class="label">Facebook</span>
            </a>
          </li>
          {% endif %}
          {% if site.social_urls.twitter %}
          <li>
            <a href="{{ site.social_urls.twitter }}" class="icon fa fa-twitter">
              <span class="label">Twitter</span>
            </a>
          </li>
          {% endif %}
          {% if site.social_urls.instagram %}
          <li>
            <a href="{{ site.social_urls.instagram }}" class="icon fa fa-instagram">
              <span class="label">Instagram</span>
            </a>
          </li>
          {% endif %}
          {% if site.social_urls.dribbble %}
          <li>
            <a href="{{ site.social_urls.dribbble }}" class="icon fa fa-dribbble">
              <span class="label">Dribbble</span>
            </a>
          </li>
          {% endif %}
          {% if site.social_urls.github %}
          <li>
            <a href="{{ site.social_urls.github }}" class="icon fa fa-github">
              <span class="label">GitHub</span>
            </a>
          </li>
          {% endif %}
          {% if site.social_urls.linkedin %}
          <li>
            <a href="{{ site.social_urls.linkedin }}" class="icon fa fa-linkedin">
              <span class="label">LinkedIn</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </section>
      <p class="copyright">
        &copy; {{ site.author }}. Design: {{ site.author }}
      </p>
    </div>
    <div>
      <section>
        <script>
          function handleSubmit(form) {
              setTimeout(() => {
                  const formElements = form.elements;
                  for (let i=0; i<formElements.length; i++) {
                      formElements[i].disabled = true;
                  }
                  document.getElementById('gform_status').style.display = 'inline';
              }, 100);
          }
        </script>
        <h2>Get in touch</h2>
        <form class="gform" id="gform" onsubmit="handleSubmit(this); return true;" method="post" target="submitMsg" onload="handleFormSubmit(this)" data-email="example@email.net" action="{{ site.contact }}">
          <div class="field half first">
            <input type="text" name="name" id="name" placeholder="Name"/>
          </div>
          <div class="field half">
            <input type="email" name="email" id="email" placeholder="Email"/>
          </div>
          <div class="field">
            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="special"/></li>
            <li><input type="reset" value="Reset"/></li>
            <li id="gform_status" style="display:none">Thank you for the message!</li>
          </ul>
        </form>
        <iframe name="submitMsg" style="display:none"></iframe>
      </section>
    </div>
  </div>
</footer>
