{%- comment -%} locationName is now passed from iterator.html - no need to recalculate {%- endcomment -%}
{% if include.firstLoc and include.firstImage %}
<section class="year" year="{{ include.year.name }}" id="p-{{ include.year.name }}">
{% endif %}
{% if include.firstImage %}
<section class="location" location="{{ include.locationName }}" id="p-{{ include.year.name }}-{{ include.locationName }}">
{% if site.data.journeys contains include.locationName %}
{% capture journey_path %}journeys/{{ include.locationName }}.html{% endcapture %}
{% include {{ journey_path }} %}
{% endif %}
{% endif %}

<article class="gallery-item" location="{{ include.locationName }}" year="{{ include.year.name }}">
  {% if include.firstImage %}
  <a href="#p-{{ include.year.name }}-{{ include.locationName }}" class="location" location="{{ include.locationName }}">{{ include.locationName }}</a>
  {% if include.firstLoc %}
  <a href="#p-{{ include.year.name }}" class="year" year="{{ include.year.name }}">{{ include.year.name }}</a>
  {% endif %}
  {% endif %}
  <a href="#{{ include.current_id }}" class="image">
    <img loading="lazy" src="{{ site.baseurl }}/{{ site.image_root }}/{{ include.year.name }}/{{ include.location.name }}/{{ site.image_thumbs_loc }}/{{ include.image.name }}" alt="" data-name="{{ include.image.name }}"/>
  </a>
</article>

{% if include.lastLoc and include.lastImage %}
</section>
{% endif %}
{% if include.lastImage %}
</section>
{% endif %}
