<div class="gallery" id="main">
    {% assign images = site.static_files | where_exp: "file", "file.path contains 'fulls'" %}
    {% assign years = images | group_by_exp: "image", "image.path | split: '/' | slice: 2, 1 | first" %}

    {% for year in years reversed %}

    {% assign firstYear = forloop.first %}
    {% assign locations = year.items | group_by_exp: "image", "image.path | split: '/' | slice: 3, 1 | first" %}

    {% for location in locations reversed %}
    {% assign firstLoc = forloop.first %}
    {% assign locationName = location.name | split:"_" | last %}


    {%- comment -%} Extract suffix after ~ for sort key {%- endcomment -%}

        {% assign images_with_tilde = "" | split: "" %}
        {% assign images_without_tilde = "" | split: "" %}

        {% for f in location.items %}
            {% if f.name contains '~' %}
            {% assign images_with_tilde = images_with_tilde | push: f %}
            {% else %}
            {% assign images_without_tilde = images_without_tilde | push: f %}
            {% endif %}
            {% endfor %}

        {% assign tilde_with_keys = "" | split: "" %}
            {% for f in images_with_tilde %}
            {% assign parts = f.name | split: "~" %}
            {% assign key = parts[1] | default: parts[0] %}
            {% assign item = f | merge: {"key": key} %}
            {% assign tilde_with_keys = tilde_with_keys | push: item %}
            {% endfor %}
        {% assign images_with_tilde_sorted = tilde_with_keys | sort_natural: "key" | reverse %}
        {% assign images_without_tilde_sorted = images_without_tilde | sort_natural: "name" %}
        {% assign images_sorted = images_with_tilde_sorted | concat: images_without_tilde_sorted %}

    {% for image in images_sorted %}
    <div class="gallery-item" location="{{ locationName }}" year="{{ year.name }}">

        {% if forloop.first %}
        <a href="#p-{{ year.name }}-{{ locationName }}" class="location" location="{{ locationName }}" id="p-{{ year.name }}-{{ locationName }}">{{ locationName }}</a>
        {% if firstLoc %}
        <a href="#p-{{ year.name }}" class="year" year="{{ year.name }}" id="p-{{ year.name }}">{{ year.name }}</a>
        {% endif %}
        {% endif %}

        <a href="#p-{{ year.name }}-{{ locationName }}-{{ image.name }}" class="image">
            <img loading="lazy" src="{{ site.baseurl }}/{{site.image_root}}/{{ year.name }}/{{ location.name }}/{{ site.image_thumbs_loc }}/{{ image.name }}" alt="" data-name="{{ image.name }}"/>
        </a>
    </div>

    {% endfor %}
    {% endfor %}
    {% endfor %}

</div>