<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic">
<style>
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }
  a {
      text-decoration:none;
      font-weight:100;
      font-family:"Source Sans Pro",Helvetica,sans-serif;
      color:#c4b9b9;
  }

  body {
      color:#a0a0a1;
      font-family:"Source Sans Pro",Helvetica,sans-serif;
      font-size: 13pt;
      letter-spacing: .025em;
      line-height: 1.65;
      overflow-x: hidden;
      background: #242629;
      position:absolute;
      top:0;
      left:0;
      height:100%;
      width:100%;
  }

  .gallery {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
  }

  .gallery-item {
      position: relative;
      width: 25%; /* Default: 4 images per row */
      aspect-ratio: 4/3;
      opacity: 0;
      animation: fadeIn 0.5s forwards;
  }

  /* Sequential loading animation */
  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }

  /* Apply different animation delays for each image */
  .gallery-item:nth-child(24+0) { animation-delay: 0ms; }
  .gallery-item:nth-child(24n+1) { animation-delay: 50ms; }
  .gallery-item:nth-child(24n+2) { animation-delay: 100ms; }
  .gallery-item:nth-child(24n+3) { animation-delay: 150ms; }
  .gallery-item:nth-child(24n+4) { animation-delay: 200ms; }
  .gallery-item:nth-child(24n+5) { animation-delay: 250ms; }
  .gallery-item:nth-child(24n+6) { animation-delay: 300ms; }
  .gallery-item:nth-child(24n+7) { animation-delay: 350ms; }
  .gallery-item:nth-child(24n+8) { animation-delay: 400ms; }
  .gallery-item:nth-child(24n+9) { animation-delay: 450ms; }
  .gallery-item:nth-child(24n+10) { animation-delay: 500ms; }
  .gallery-item:nth-child(24n+11) { animation-delay: 550ms; }
  .gallery-item:nth-child(24n+12) { animation-delay: 600ms; }
  .gallery-item:nth-child(24n+13) { animation-delay: 650ms; }
  .gallery-item:nth-child(24n+14) { animation-delay: 700ms; }
  .gallery-item:nth-child(24n+15) { animation-delay: 750ms; }
  .gallery-item:nth-child(24n+16) { animation-delay: 800ms; }
  .gallery-item:nth-child(24n+17) { animation-delay: 850ms; }
  .gallery-item:nth-child(24n+18) { animation-delay: 900ms; }
  .gallery-item:nth-child(24n+19) { animation-delay: 950ms; }
  .gallery-item:nth-child(24n+20) { animation-delay: 1000ms; }
  .gallery-item:nth-child(24n+21) { animation-delay: 1050ms; }
  .gallery-item:nth-child(24n+22) { animation-delay: 1100ms; }
  .gallery-item:nth-child(24n+23) { animation-delay: 1150ms; }

  .gallery-item img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
  }
  .gallery-item::after {
    background-image: -moz-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: -webkit-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: -ms-linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    background-image: linear-gradient(to top, rgba(10,17,25,0.35) 5%, rgba(10,17,25,0) 35%);
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    background-size: cover;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  /* Lightbox styles */
  .lightbox {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 1000;
      padding: 5em;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(8px); /* For Safari */
      opacity: 0;
      transition: opacity 0.5s ease, visibility 0s linear 0.5s;
  }

  .lightbox:target {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 1;
      transition: opacity 0.5s ease, visibility 0s linear;
  }

  .lightbox-container {
      position: relative;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .lightbox img {
      max-width: 100%;
      max-height: calc(100vh - 2em);
      object-fit: contain;
      z-index: 5;
  }

  #p {
    height:0;
    width:0;
    padding:0;
  }

  .close {
      position: absolute;
      top: 1.5em;
      right: 1.5em;
      color: white;
      font-size: 2em;
      text-decoration: none;
      width: 1.5em;
      height: 1.5em;
      text-align: center;
      line-height: 1.5em;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
      z-index: 1010;
  }
  .close::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .close:hover {
      background: rgba(255, 255, 255, 0.3);
  }

  /* Navigation arrows */
  .nav-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      font-size: 3em;
      text-decoration: none;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      z-index: 1010;
      transition: background 0.3s ease;
  }

  .nav-arrow:hover {
      background: rgba(255, 255, 255, 0.3);
  }

  .nav-prev {
      left: -1.7em;
      padding-right: 0.1em;
  }
  .nav-prev::before {
    content: "";
    position: fixed;
    top: -10vh;
    left: -50vw;
    right: 0;
    bottom: -10vh;
  }

  .nav-next {
      right: -1.7em;
      padding-left: 0.1em;
  }
  .nav-next::before {
    content: "";
    position: fixed;
    top: -10vh;
    left: 0;
    right: -50vw;
    bottom: -10vh;
  }

  /* Empty lightbox for clean closing */
  #gallery-close {
      background-color: transparent;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
  }

  #gallery-close:target {
      display: none;
  }

  /* Responsive breakpoints */
  @media (max-width: 1200px) {
      .gallery-item {
          width: 33.333%; /* 3 images per row */
      }
  }

  @media (max-width: 768px) {
      .gallery-item {
          width: 50%; /* 2 images per row */
      }
      .lightbox {
          padding: 3em;
      }
      .nav-prev {
          left: -1.1em;
          z-index: 4;
      }
      .nav-next {
          right: -1.1em;
          z-index: 4;
      }
      ul.exif-data,
      #header > h1 > a > strong {
          display:none !important;
      }
      #header nav > ul > li {
          width: 4em;
          overflow: hidden;
      }
  }

  @media (max-width: 480px) {
      .gallery-item {
          width: 100%; /* 1 image per row */
      }
      .lightbox {
          padding: 2em;
      }
  }




#main > div > a.year {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0.2em 0.3em;
    margin: 2.8em 0.3em;
    font-size: 1.2em;
}
#main > div > a.location {
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0.2em 0.3em;
    margin: 0.3em 0.3em;
    font-size: 1.2em;
}

ul.exif-data {
  letter-spacing: 0.025em;
  display:inline;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em 2em 1em 2em;
  background-image: -moz-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
  background-image: -webkit-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
  background-image: -ms-linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
  background-image: linear-gradient(to top, rgba(16,16,16,0.45) 25%, rgba(16,16,16,0) 100%);
  color: #fff;
}
ul.exif-data > li {
  display:inline;
  cursor: default;
}
ul.exif-data > li::before {
  font: normal normal normal 1em/1 FontAwesome;
  padding: 0 0.3em 0 0.5em;
}
ul.exif-data > li[tag="Model"]::before {
  content:"\f083";
}
ul.exif-data > li[tag="ExposureTime"]::before {
  content:"\f017";
}
ul.exif-data > li[tag="FNumber"]::before {
  content:"\f192";
}
ul.exif-data > li[tag="ISOSpeedRatings"]::before {
  content:"\f0eb";
}
ul.exif-data > li[tag="FocalLength"]::before {
  content:"\f012";
}
ul.exif-data > li[tag="Make"],
ul.exif-data > li[tag="DateTimeOriginal"] {
  display:none;
}


#main:has(:target) > div,
#main:has(:target) > div:has(a.location:target) ~ div:has(a.location),
#main:has(:target) > div:has(a.location:target) ~ div:has(a.location) ~ div,
#main:has(:target) > div:has(a.year:target) ~ div:has(a.year),
#main:has(:target) > div:has(a.year:target) ~ div:has(a.year) ~ div {
  display:none;
}

#main:has(:target) > div:has(:target),
#main:has(:target) > div:has(:target) ~ div {
  display:block;
}





body:has(.lightbox:target > a) header {
  display:none;
}

#header {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -moz-transition: -moz-transform 1s ease;
  -webkit-transition: -webkit-transform 1s ease;
  -ms-transition: -ms-transform 1s ease;
  transition: transform 1s ease;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  background: #1f2224;
  bottom: 0em;
  left: 0;
  line-height: 4em;
  position: fixed;
  user-select: none;
  width: 100%;
  z-index: 10002;
  font-size: 0.5em;
}
#header strong, #header b, #header a {
  color: #fff;
}
#header > h1 {
  line-height: 4em;
  margin-left: 1em;
  height: 4em;
  overflow: hidden;
}

#header nav {
  position: absolute;
  right: 0;
  top: 0;
}
#header nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header nav > ul > li.icon::before {
  color: #505051;
  float: right;
  margin-left: .75em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  height: 4em;
}
#header nav > ul > li {
  -moz-transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  border: 0;
  color: #fff;
  display: inline-block;
  letter-spacing: .1em;
  padding: 1em 1.45em;
  text-transform: uppercase;
  font-size: 2em;
}


footer h2 {
  text-transform: uppercase;
  margin: 0.5em 0;
}


footer {
  position: fixed;
  bottom: 3.5em;
  right: 0;
  top:0;
  left:0;
  z-index: 10003;
  display:none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* For Safari */
}
footer > * {
  position:absolute;
  right:0;
  bottom:0;
  min-width: 20em;
  border: 1px solid #1f2224;
  background-color: #242629;
  padding: 1em 2em;
  max-height: 100%;
  overflow: auto;
}
footer .inner.split > * {
  display: inline-block;
  vertical-align: top;
  margin: 1em;
}
nav > ul > li:hover {
  background-color: #242629;
}

  body:has(nav > ul > li[title="select"]:hover) #select,
  #select:has(:hover) {
    display:block;
  }
  body:has(nav > ul > li[title="footer"]:hover) #footer,
  #footer:has(:hover) {
    display:block;
  }

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select, textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #34363b;
  border: 0;
  border-radius: 0;
  color: #a0a0a1;
  display: block;
  outline: 0;
  text-decoration: none;
  width: 100%;
  margin: 0.8em 0;
  font-size: 1em;
  padding: 0.5em;
}
ul.actions, ul.actions > li {
  display: inline;
}
ul.actions > li > input {
  background: #242629;
  border: 1px solid #34363b;
  border-radius: 10%;
  color: #a0a0a1;
  padding: 0.7em;
}
ul.actions > li > input:hover {
  border: 1px solid #a0a0a1;
  background: #34363b;
}
</style>